<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css"> 
    <title>Editing Register</title>
    <style>


      body{
        margin: 1rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
        h1 {
          text-align: center;
          color: rgb(7, 7, 153);
          max-width: 100%;
          font-size:4rem;
        }
        
        h2 {
          text-align: center;
          color: rgb(15, 6, 82);
          max-width: 100%;
          font-size: 3rem;
        }
      
        a{
          text-align: center;
          max-width: 100%;
          font-size: 2rem;
          display: block;
      
        }
      
          </style>
  </head>
  <body>

        <!-- header  -->
        <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="studentstable">Back to Students' List</a>
        </div>
        </nav>
        <h1>Editing Register 🪄</h1>
        <!-- Form  of Edition -->

       <% if(student) { %>
        <div class="container mt-4">
        
        <form action="/update" method="POST">
            <input  id="id" name="id" value="<%= student.id %>" hidden>
            <div class="mb-3">
                
                
                <label for="name" class="form-label center">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= student.name %>">
                
                <label for="lastname" class="form-label center">Last Name</label>
                <input type="text" class="form-control" id="lastname" name="lastname" value="<%= student.lastname %>">

                <label for="DNI" class="form-label">DNI</label>
                <input type="text" class="form-control" id="DNI" name="DNI"  value="<%= student.DNI %>">
                

                <label for="age" class="form-label center">Age</label>
                <input type="text" class="form-control" id="age" name="age"  value="<%= student.age %>">
                

                <br>
                <select class="form-select" id="gender" name="gender" aria-label="Default select example">
                    <option selected>Gender </option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>

                <label for="phone" class="form-label">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone"  value="<%= student.phone %>">
                
                
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" value="<%= student.email %>">

                
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address" value="<%= student.address %>">

                
            </div>
            <input class="btn btn-primary" type="submit" value="Submit" tabindex="5">
            <a href="studentstable" class="btn btn-secondary">Cancel</a>
        </form>

        </div>
    <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
  </html>